uri: "qemu:///system"

groups:
  backup:
    target: /mnt/nas
    hosts: {{hosts}}
    weekly: 1
  {% comment %} teste:
    target: /mnt/nas
    hosts:
    - dcnetvm_k8s3
    weekly: 1 {% endcomment %}